// .main {
//   font-family: 'Courier New', Courier, monospace;
// }
.abv {
  font: optional;
}

.b {
  font-family: 'Courier New', Courier, monospace;
}

.c {
  font-family: 'Courier New', Courier, monospace;
}

